@using Web.Models.View
@using Microsoft.Extensions.Configuration

@model SimulationViewModel

@inject IConfiguration Config

@{
	ViewData["Title"] = "Run Simulation";
}

<div class="text-center">
	<h1 class="display-4">Run simulation</h1>
	<p>
		This is a simulation website for the "Comparative Evaluation of Order-Preserving and Order-Revealing Schemes and Protocols" project.
		See the <a href="https://dbogatov.org/assets/custom/docs/ore-benchmark.pdf" target="_blank">whitepaper</a> and the <a href="https://github.com/dbogatov/ore-benchmark" target="_blank">source code</a>.
	</p>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="text-center">
			<h3>Inputs</h3>
		</div>
		
		<form asp-controller="Home" asp-action="Index" method="post">
			<div class="form-group">
				<button type="submit" class="btn btn-success btn-block">Run default example</button>
			</div>
		</form>
		
		<form asp-controller="Home" asp-action="Index" method="post">
			
			<div asp-validation-summary="All" class="text-danger"></div>
		
			<div class="form-group">
				<label asp-for="Seed"></label>
				<input class="form-control" asp-for="Seed" placeholder="Leave blank for fresh random" />
				<span class="text-danger" asp-validation-for="Seed"></span>
			</div>
			
			<div class="form-group">
				<label asp-for="Protocol"></label>
				<select class="form-control" asp-for="Protocol" asp-items="Html.GetEnumSelectList<ORESchemesView>()"></select>
				<span class="text-danger" asp-validation-for="Protocol"></span>
			</div>
			
			<div class="form-group">
				<label asp-for="Dataset"></label>
				<textarea class="form-control" rows="3" asp-for="Dataset" placeholder="Maximum @(Config["Limits:Dataset"]) records. Leave blank to sample uniformly."></textarea>
				<span class="text-danger"  asp-validation-for="Dataset"></span>
			</div>
			<div class="form-group">
				<label asp-for="Queryset"></label>
				<textarea class="form-control" rows="3" asp-for="Queryset" placeholder="Maximum @(Config["Limits:Queryset"]) queries. Leave blank to sample uniformly 1%-wide ranges."></textarea>
				<span class="text-danger"  asp-validation-for="Queryset"></span>
			</div>
			<div class="form-group">
				<label asp-for="CacheSize"></label>
				<input class="form-control" asp-for="CacheSize" placeholder="From 0 (default) to 100" />
				<span class="text-danger"  asp-validation-for="CacheSize"></span>
			</div>
			
			<div class="form-group">
				<label asp-for="ElementsPerPage"></label>
				<input class="form-control" asp-for="ElementsPerPage" placeholder="Leave blank for default per protocol value" />
				<span class="text-danger"  asp-validation-for="ElementsPerPage"></span>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block">Submit</button>
			</div>
			
		</form>
	</div>
	<div class="col-md-8">
		<div class="text-center">
			<h3>Legend</h3>
		</div>
		<div class="text-justify markdown">
			<markdown>
				**All simulations are public.**
				**Do not supply sensitive data.**

				Use this form to schedule a simulation.
				Simulations are placed in queue and are executed in order, although the queue is usually empty.
				Simulation result page will be available immediately and will show its current state and results when available.
				Results will be persisted at least for @(Config["Daemon:CleanService:MaxAge"]) seconds.

				Click "Run dewfault example" to schedule a trivial simulation, or use the fields in the form to customized it.

				**Seed** value is used to seed the PRG for the whole simulation.
				Same inputs with the same seed will always produce the same result.

				You should also choose the **Protocol**.
				*No encryption* and OPE / ORE schemes will be used in a B+ tree, other protocols are custom.
				We refer to the [paper](https://dbogatov.org/assets/custom/docs/ore-benchmark.pdf) for protocol descriptions.

				**Dataset** is a list of index-value pair, where index is an integer and value is string.
				The format is a number, followed by coma, followed by string value without quotes per line.
				For example, `4, elephant`.
				Values are generally discarded, so please do not put special characters in them.

				**Queryset** is a list of from-to pairs, where both components are integers and the first is no greater than the second.
				The format is a number, followed by coma, followed by a number.
				For example, `4, 6`.

				**Cache size** defines virtual LRU cache capacity.
				Requests fulfilled by the cache do not count as I/Os.

				I/O performance heavily depends on the page size and the **number of elements per I/O page**.
				Default values will be assigned such that elements (ciphertexts) and B+ tree nodes fit in a page, assuming page size of @(Config["Daemon:SimulationService:PageSize"]) bits.
				
				> Data and query set sizes are restricted to @(Config["Limits:Dataset"]) and @(Config["Limits:Queryset"]) elements respectively.
				> Inputs beyond these limits will be discarded.
				> Please, use our docker images (see the [docs](/documentation)) to run arbitrary-sized simulations.

			</markdown>
		</div>
	</div>
</div>
